.userNameClass{
    border-bottom:5px solid black;
}

.userNameClass h2{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:40px;
    font-weight:bold;
}

.deactivateMain h2{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:40px;
    font-weight:bold;
}

.commentText{
    opacity:1;
}

.deactivateMain label{
    font-size:15px;
}

#leavingImage{
    text-align:center;
    width:100px;
    height:100px;
}

.notExists{
    text-align:center;
    font-family:'Arial Rounded MT';
}

.notExists h4{
    color:#d9534f;
}

#userDetailsImg{
    width:60px;
    height:60px;
}

.userDetails{
    width:60%;
    margin:auto;
    opacity:0.9;
    margin-bottom:20px;
    padding:20px;
}

#btnCloseAccnt{
    font-size:15px;
    font-family:'Arial Rounded MT';
}

.infocard{
    text-align:center;
}

.rowProfile input{
    height:auto;
    font-family:'Arial Rounded MT';
    text-align:center;
    font-size:15px;
    border:0px;
    width:100%;
    background-color:transparent;
}

.rowProfile{
    text-align:center;
}

.rowProfile button{
    font-family:'Arial Rounded MT';
    font-size:15px;
    opacity:0.8;
    border-radius:50px;
}

.btnEditSave{
    font-family:'Arial Rounded MT';
    font-size:15px;
    margin:auto;
    border-radius:50px;
}

#editOnlyDisplay{
    font-family:'Arial Rounded MT';
}

#editOnlyDisplay label{
    float:left;
}

.calorieProgress{
    width:90%;
    opacity:0.93;
}

.calorieProgress h2{
    padding-bottom:10px;
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:40px;
    font-weight:bold;
    border-bottom:3px solid black;
}

.calorieProgress button{
    font-family:'Arial Rounded MT';
    font-size:15px;
    opacity:0.8;
    border-radius:50px;
}

.calorieProgress button:hover {
    opacity:1;
}
#logMealDiv{
    text-align:center;
    margin:auto;
}

#logMealDiv button{
    margin:10px;
}

/*TABS CSS*/

.userActivity{
    width:90%;
    opacity:0.93;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
    font-size:15px;
    font-family:'Arial Rounded MT';
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
    opacity:0.3;
}

ul.tabs li.current{
	background-color: #E6E6E6;
	color: green;
    opacity:1;
}

.tab-content{
	display: none;
	background: #E6E6E6;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

/*Progress bar*/
#mycalorieprogress {
    border-radius: 4px;
	background: #FFF;
	overflow: hidden;
    border:1px solid green;
    text-align:center;
    font-family:'Arial Rounded MT';
    font-weight:bold;
    font-size:25px;
    opacity:0.8;
}

#progressBar{
    background-image: url(../images/progressBar.gif);
}

.caloriesToGo{
    margin:auto;
}

.caloriesToGo p{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:80px;
    font-weight:bold;
}

#progressBar{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-weight:bold;
    font-size:25px;
    opacity:0.8;
}

.calorieDetailsClass{
    text-align:center;
    width:80%;
    margin:auto;
}

.labelHead{
    font-family:'Arial Rounded MT';
    font-weight:bold;
    font-size:18px;
    background-color:lightgreen;
    opacity:0.9;
    padding:5px;
    border-radius:50px;
}

.labelHeadOverate{
    font-family:'Arial Rounded MT';
    font-weight:bold;
    font-size:18px;
    background-color:#d9534f;
    opacity:0.9;
    padding:5px;
    border-radius:50px;
}

.labelVal{
    font-family:'Arial Rounded MT';
    font-size:18px;
}

.caloriesRemaining{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-weight:bold;
    font-size:15px;
    color:black;
    opacity:0.9;
}

.caloriesRemaining label{
    font-family:'Arial Rounded MT';
    font-weight:bold;
    font-size:60px;
    opacity:1;
    color:green;
}

#goToActivity{
    font-size:15px;
    color:green;
    font-family:'Arial Rounded MT';
    text-align:center;
}

#seeMyActivity{
    width:180px;
    margin:auto;
}

#onClickGoToActivity:hover,#seeMyActivity:hover{
    cursor:pointer;
}

#myActivities h2{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:40px;
    font-weight:bold;
}

#mealHolder,#likesHolder,#unlikesHolder{
    padding:5px;
    font-family:'Arial Rounded MT';
    font-size:17px;
}

.logDate{
    font-family:'Arial Rounded MT';
    float:right;
    opacity:0.7;
}

#mealsAndLikes th{
    font-family:'Arial Rounded MT';
    font-size:20px;
    background-color:Highlight;
}

#userNameHolder{
    font-family:'Arial Rounded MT';
}

#mealHolder a{
    text-decoration:none;
}

#likesHolder a{
    text-decoration:none;
}

#unlikesHolder a{
    text-decoration:none;
}

#changeDate{
    font-family:'Arial Rounded MT';
    font-size:17px;
    font-weight:bold;
    text-align:center;
    width:200px;
    margin:auto;
}

#datePickerChange{
    text-align:center;
    font-size:17px;
}

#noPersonalActivities label{
    font-family:'Arial Rounded MT';
    font-size:17px;
    font-weight:bold;
    text-align:center;
    color:red;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

input[type="date"]::-webkit-clear-button{
    display: none;
}

.noFollowing{
    font-family:'Arial Rounded MT';
    font-size:17px;
    font-weight:bold;
    text-align:center;
}

.unfollowDiv button{
    float:right;
    border-radius:50px;
}

.following label{
    font-family:'Arial Rounded MT';
    text-align:center;
    color:red;
}

.otherUsername{
    font-family:'Arial Rounded MT';
    font-size:20px;
}

.otherUsername a{
    text-decoration:none;
}

#followingHead{
    text-align:center;
}

#followingHead h2{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:40px;
    font-weight:bold;
}

.otherUsersTable{
    width:50%;
    margin:auto;
}

.otherUserInfoCard{
    width:100%;
    margin:auto;
}

.otherUserRow{
    text-align:center;
}

.otherUserRow input{
    height:auto;
    font-family:'Arial Rounded MT';
    text-align:center;
    font-size:17px;
    border:0px;
    width:100%;
}

.buttonsFollow{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:16px;
    border-radius:50px;
}

.ngDialogClass{
    opacity:0.9;
}

.searchUserDiv h2{
    text-align:center;
    font-family:'Arial Rounded MT';
    font-size:40px;
    font-weight:bold;
}

.searchInputClass{
    font-family:'Arial Rounded MT';
    font-size:18px;
    
}
.searchInputClass input{
    float:right;
}

.searchInputClass button{
    float:left;
    border-radius:50px;
}

.btnFollow button{
    float:right;
}

#userSearchResults{
    width:100%;
}

.following{
    font-family:'Arial Rounded MT';
    font-size:18px;
}

.goToTop button{
    width:100%;
    font-family:'Arial Rounded MT';
    text-align:center;
    font-size:20px;
    margin-bottom:10px;
    border-radius:50px;
}

.goToTop span{
    font-size:30px;
}

#searchBy li{
    list-style-type:none;
}

#searchBy{
    text-align:center;
    border-radius:50px;
    background-color:#d8dfea;
}